//Definimos  mixin
@mixin boton-estilo {
  background: linear-gradient(135deg, #ffcc00, #ffd700);
  color: black;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: linear-gradient(135deg, #ffd700, #ffcc00);
    transform: scale(1.07);
  }
}

//Estilos de la página de contacto
#header {
  color: yellow;
  text-align: center;
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

//Aplicamos mixin al botón de envío
input[type="submit"] {
  @include boton-estilo;
}
